@import '~rc-easyui/dist/themes/default/easyui.css';
@import '~rc-easyui/dist/themes/icon.css';
@import '~rc-easyui/dist/themes/react.css';
.condition {
    margin: 5px 0 0 0 ;
    display: block;
    height: 40px;
    line-height: 40px;
    background: #689bd7;
    border-radius: 2px;
    width: 100%;
}
.condition .condition-left{
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
} 
.condition .condition-right{
    float: right;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.condition .condition-right .f-field.textbox{
    margin-right: 5px;
}

.nav-list-if .textbox-label-top{
display: inline-block;
margin-right: 5px;
}
.nav-list-if .nav-list-if-list{
    margin-top: 10px;
}
.nav-list-if-list .nav-list-if-list-div{
    width: 33%;
    float: left;
    
}
.combobox-item.combobox-item-selected{
    background-color: #0f519c;
    color: white;
}
 .datagrid-header .datagrid-header-row td,  .datagrid-body .datagrid-row td,  .datagrid-footer .datagrid-header-row td{
border: none;
}
.f-column .panel-body.panel-body-noheader{
border: none;
background: none;
}
.f-column .datagrid-header.f-row.f-noshrink{
    border: none;
background: none;
}
.f-column .datagrid-header .datagrid-header.f-noshrink{
    border: none;
    background: none;
}
.data-name{
    color: #333;
    /* background-color: #0f519c; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}